
@font-face {
    font-family: 'kansasnewthin';
    src: url('kansasnew-thin-webfont.woff2') format('woff2')/* ,
         url('kansasnew-thin-webfont.woff') format('woff') */;
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kansasnewsemibold';
    src: url('kansasnew-semibold-webfont.woff2') format('woff2')/* ,
         url('kansasnew-semibold-webfont.woff') format('woff') */;
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kansasnewregular';
    src: url('kansasnew-regular-webfont.woff2') format('woff2')/* ,
         url('kansasnew-regular-webfont.woff') format('woff') */;
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kansasnewmedium';
    src: url('kansasnew-medium-webfont.woff2') format('woff2')/* ,
         url('kansasnew-medium-webfont.woff') format('woff') */;
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kansasnewlight';
    src: url('kansasnew-light-webfont.woff2') format('woff2')/* ,
         url('kansasnew-light-webfont.woff') format('woff') */;
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kansasnewbold';
    src: url('kansasnew-bold-webfont.woff2') format('woff2')/* ,
         url('kansasnew-bold-webfont.woff') format('woff') */;
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kansasnewblack';
    src: url('kansasnew-black-webfont.woff2') format('woff2')/* ,
         url('kansasnew-black-webfont.woff') format('woff') */;
    font-weight: normal;
    font-style: normal;

}