.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

body {
	font-family: 'Titillium Web', sans-serif;
  }

  .fondo-rosa {
    background-color: #ffd8cd;
  }

  .hide{
    display: none;
  }

  .show{
    display: block;
  }

  .dot{

    height: 20px;
    width: 20px;
    background-color: #FFC629;
    border-radius: 50%;
    margin: 0px 2px;
    border: 2px solid black;
    display: inline-block;
  
  }

  .dot_gris{

    height: 30px;
    width: 30px;
    background-color: #222222;
    color: #fff;
    padding-top: 2px;
    text-align: center;
    font-weight: 700;
    border-radius: 50%;
    display: inline-block;
  }


  
  .active {
    background-color: #e1251b;
  }


  .btn_default{

    color: #000;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid black;
    font-weight: 700;
    text-decoration: none;
  
  }

  .btn_default:hover{

    color: #fff;
    background-color: #000;
  
  }

  .activo{

    color: #fff;
    padding: 10px 30px;
    background-color: #000;
    border-radius: 50px;
    border: 2px solid black;
    font-weight: 700;
    text-decoration: none;
  
  }



  hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
  }

  h1{

    font-weight: 700;
    font-size: 22px;
    color: #e1251b;


  }

  h2{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000;
  }

  h3{
    vertical-align: bottom;
    font-weight: 600;
    font-size: 13px;
    color: #000;
  }

  h4{
    vertical-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #000;
  }

  h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000;
  }


  .flex-v {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }